@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

$darkGray: hsl(217, 19%, 35%);
$desaturatedBlue: hsl(214, 17%, 51%);
$grayishBlue: hsl(212, 23%, 69%);
$lightBlue: hsl(210, 46%, 95%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-size: 13px;
}

.background {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: $lightBlue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .card {
    width: 730px;
    border-radius: 10px;
    box-shadow: 0px 42px 30px -6px hsl(210, 46%, 91.5%);
    display: flex;
    background-color: #fff;
    .image {
      background-image: url("/images/drawers.jpg");
      background-size: cover;
      height: 280px;
      width: 100%;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
    }
    .content {
      padding: 0 20px 0 32px;
      .text {
        padding: 10px;
        .headline {
          color: $darkGray;
          font-size: 20px;
          padding-top: 20px;
        }
        .text-body {
          color: $desaturatedBlue;
          line-height: 21px;
          margin: 10px 0;
        }
      }
      .social {
        display: flex;
        margin: 20px 0 0 0;
        .avatar {
          img {
            width: 42px;
            border-radius: 50px;
            margin-right: 15px;
          }
        }
        .info {
          margin-top: 2px;
          .name {
            color: $darkGray;
            font-weight: 700;
          }
          .date {
            color: $grayishBlue;
            margin-top: 2px;
          }
        }
        .actions {
          margin-left: auto;
          margin-top: 2px;
          margin-right: 20px;
          .share {
            position: relative;
            padding: 7px;
            background-color: hsl(210, 46%, 95%);
            border-radius: 50px;
            img {
              cursor: pointer;
              user-select: none;
            }
          }
          .share:hover {
            background-color: $desaturatedBlue;
            img {
              filter: brightness(0) invert(1);
            }
          }
          .active {
            visibility: hidden;
            display: flex;
            justify-content: space-around;
            position: absolute;
            min-width: 150px;
            background-color: $darkGray;
            color: #fff;
            text-align: center;
            border-radius: 10px;
            padding: 15px 10px;
            z-index: 1;
            bottom: 180%;
            left: -120%;
            margin-left: -80px;
            p {
              color: $grayishBlue;
              font-size: 12px;
              letter-spacing: 6px;
              padding: 5px 0 5px 20px;
              text-transform: uppercase;
            }
            .icons {
              display: flex;
              padding: 0 10px 0 5px;
              margin: auto;
              img {
                margin: 0 10px;
                user-select: none;
              }
            }
          }
          .active::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 12px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
          }
          .show {
            visibility: visible;
            -webkit-animation: fadeIn 1s;
            animation: fadeIn 1s;
          }
        }
      }
    }
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
