@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-size: 13px;
}

.background {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #ecf2f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.background .card {
  width: 730px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 42px 30px -6px #dfe9f3;
          box-shadow: 0px 42px 30px -6px #dfe9f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}

.background .card .image {
  background-image: url("/images/drawers.jpg");
  background-size: cover;
  height: 280px;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.background .card .content {
  padding: 0 20px 0 32px;
}

.background .card .content .text {
  padding: 10px;
}

.background .card .content .text .headline {
  color: #48556a;
  font-size: 20px;
  padding-top: 20px;
}

.background .card .content .text .text-body {
  color: #6d7f97;
  line-height: 21px;
  margin: 10px 0;
}

.background .card .content .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0 0 0;
}

.background .card .content .social .avatar img {
  width: 42px;
  border-radius: 50px;
  margin-right: 15px;
}

.background .card .content .social .info {
  margin-top: 2px;
}

.background .card .content .social .info .name {
  color: #48556a;
  font-weight: 700;
}

.background .card .content .social .info .date {
  color: #9eafc2;
  margin-top: 2px;
}

.background .card .content .social .actions {
  margin-left: auto;
  margin-top: 2px;
  margin-right: 20px;
}

.background .card .content .social .actions .share {
  position: relative;
  padding: 7px;
  background-color: #ecf2f8;
  border-radius: 50px;
}

.background .card .content .social .actions .share img {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.background .card .content .social .actions .share:hover {
  background-color: #6d7f97;
}

.background .card .content .social .actions .share:hover img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.background .card .content .social .actions .active {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  min-width: 150px;
  background-color: #48556a;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 15px 10px;
  z-index: 1;
  bottom: 180%;
  left: -120%;
  margin-left: -80px;
}

.background .card .content .social .actions .active p {
  color: #9eafc2;
  font-size: 12px;
  letter-spacing: 6px;
  padding: 5px 0 5px 20px;
  text-transform: uppercase;
}

.background .card .content .social .actions .active .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px 0 5px;
  margin: auto;
}

.background .card .content .social .actions .active .icons img {
  margin: 0 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.background .card .content .social .actions .active::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 12px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.background .card .content .social .actions .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@media (max-width: 375px) {
  .background .card {
    max-width: 330px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .background .card .image {
    border-bottom-left-radius: unset;
    border-top-right-radius: 10px;
    height: 214px;
  }
  .background .card .content {
    padding: 0;
  }
  .background .card .content .text {
    padding: 10px 36px;
  }
  .background .card .content .text .headline {
    color: #48556a;
    font-size: 16px;
    padding-top: 20px;
    line-height: 24px;
  }
  .background .card .content .text .text-body {
    color: #6d7f97;
    font-size: 13px;
    line-height: 22px;
    margin: 12px 0 10px 0;
  }
  .background .card .content .social {
    padding: 10px 0;
  }
  .background .card .content .social .actions {
    margin-right: 5px;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */